[submodule "third_party/Lib/Ext/tinyxml"]
	path = third_party/tinyxml
	url = https://github.com/GPUOpen-Tools/common-lib-ext-tinyxml-2.6.2.git
[submodule "third_party/Lib/Ext/OpenGL"]
	path = third_party/OpenGL
	url = https://github.com/GPUOpen-Tools/common-lib-ext-OpenGL.git
[submodule "third_party/Lib/AMD/APPSDK"]
	path = third_party/APPSDK
	url = https://github.com/GPUOpen-Tools/common-lib-amd-APPSDK-3.0.git
[submodule "third_party/Lib/Ext/glew"]
	path = third_party/glew
	url = https://github.com/GPUOpen-Tools/common-lib-ext-glew-1.9.git
[submodule "third_party/Draco"]
	path = third_party/draco
	url = https://github.com/google/draco.git
